/* #cardtt {
    background-color: white;
  
    border-radius: .25rem;
    width: 250px;
    height: 530px;
    position: relative;
    margin-top: 12px;
    cursor: pointer;
  }

  @media (max-width:450px) {
    #change {
      display: grid;
      grid-template-columns: auto;
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 73px
    }
  
    #cardtt {
      background-color: white;
     
      border-radius: .25rem;
      width: 90%;
      height:max-content;
      position: relative;
      margin-top: 12px;
      cursor: pointer;
  
    }
  }
  
  @media only screen and (min-width: 450px) and (max-width: 750px) {
    #change {
      display: grid;
      grid-template-columns: auto auto;
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 73px;
      margin-top: 12px;
  
    }
  
    #cardtt {
      border-left: 3pt solid #179ad7;
      background-color: white;
      
      border-radius: .25rem;
      width: 250px;
      height: 560px;
      position: relative;
      margin-top: 12px;
      cursor: pointer;
  
    }
  }
  
  @media only screen and (min-width: 750px) and (max-width: 1000px) {
    #change {
      display: grid;
      grid-template-columns: auto auto auto;
      margin-left: 15px;
      margin-right: 15px;
      padding-top: 73px
    }
  
    #cardtt {
      
      background-color: white;
      
      border-radius: .25rem;
      width: 230px;
      height: 560px;
      position: relative;
      margin-top: 12px;
      cursor: pointer;
  
    }
  }
   */